<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sass/main.css" />
    <title>Merge Sort App</title>
</head>

<body>
    <div id="app">
        <div id="vueApp">
            <p>Speed: <input type="range" min="50" max="500" v-model="inpVal"></p>
            <button @click="action" :disabled="btnIsDisabled">{{ buttonText }}</button>
            <br>
            <div id="frameDiv">
                <div class="diceDiv" v-for="(die, index) in dice" :key="index"
                    :style="{ transform: `translateX(${die.left}px)`, height: die.dieNmbr + 'px', top: die.isActive ? '5px' : '0' }"
                    :class="{ active: die.isActive, changing: die.isChanging }"></div>
            </div>
            <p>{{ msgDone }}</p>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3.2.20/dist/vue.global.prod.js"></script>
    <script src="js/main.js"></script>
</body>

</html>