#header {
    font-size: 18px;
}

p {
    font-size: 20px;
}

p1 {
    font-size: 15px;
}

#space {
    margin-top: 130px;
}

#chartDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%; /* Definir a largura como 100% */
}

#chart {
    width: 800px; /* Definir a largura do canvas */
    max-width: 100%; /* Garantir que o canvas não ultrapasse a largura do contêiner */
    height: auto; /* Ajustar a altura automaticamente */
    margin: 0 auto; /* Centralizar o canvas */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
    font-size: 10px;
}

a {
	color: #5e5b5b;
	text-decoration: none;
}

#frameDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: relative;
}

#executionDiv {
    margin-left: 30px;
    font-size: 20px;
}

.diceDiv {
    width: 10px;
    background-color: rgb(78, 73, 73);
    margin: 0;
    transition: transform 1s ease-out, top 0.5s ease-out;
    position: relative;
}

.active {
    background-color: #79a9c3; /* Cor para barras sendo analisadas */
    top: 5px; /* Posição ligeiramente mais baixa para barras ativas */
}

.changing {
    background-color: #935965; /* Cor para barras que estão sendo trocadas */
}

.v-move,
.v-enter-active,
.v-leave-active {
    transition: top 0.5s ease-out;
}

.v-enter,
.v-leave-to {
    top: 0;
}

.v-enter-to,
.v-leave {
    top: 10px;
}